In [2]:
#import Python library used for working with arrays; domain of linear algebra, etc.
import numpy as np
#import python library
import pandas as pd
#All of the statistics functions are located in the scipy sub-package 
from scipy import stats
#podbc is an open source Python module that makes accessing ODBC databases simple. how we connect to SQL
import pyodbc
#pyplot is intended for interactive plots and simple cases of programmatic plot generation
import matplotlib as plt

In [4]:
#Code not working below; possible DSN incorrect, however, I used the explicit Conn in future code.
#conn = pyodbc.connect('DSN=DSI_DSN_SQL')

InterfaceError: ('28000', "[28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user ''. (18456) (SQLDriverConnect); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user ''. (18456)")

In [3]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is B426-88EF

 Directory of c:\Users\teres\Documents\2022-02-DSI-WE\butleranalyticsllc\py

06/11/2022  10:58 AM    <DIR>          .
06/04/2022  06:36 PM    <DIR>          ..
06/05/2022  04:21 PM             2,983 Assignment1.ipynb
06/05/2022  06:01 PM             2,832 Assignment2.ipynb
06/07/2022  11:10 PM             4,853 Assignment3.ipynb
06/07/2022  11:08 PM               274 da.txt
06/07/2022  11:08 PM               528 de.txt
06/07/2022  11:08 PM               523 ds.txt
06/04/2022  05:36 PM            10,130 intro.ipynb
06/11/2022  10:57 AM                 0 SQLtoPandas.ipynb
06/07/2022  11:10 PM                 8 students.txt
               9 File(s)         22,131 bytes
               2 Dir(s)  39,058,845,696 bytes free

In [6]:
import pyodbc
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=2022dsiwd.database.windows.net;DATABASE=AdventureWorks2019;UID=admin2022dsiwd;PWD=Divergence!2022dsiwd')

In [9]:
sql = "select top 100 * from [Sales].[SalesOrderHeader] "
data = pd.read_sql(sql,conn)
data

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43659,PO522145787,10-4020-000676,...,16281.0,105041Vi84182,NaN,20565.6206,1971.5149,616.0984,23153.2339,None,79B65321-39CA-4115-9CBA-8FE0903E12E6,2011-06-07
1,43660,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,...,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
2,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,...,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
3,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,...,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
4,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,...,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,43754,8,2011-06-14,2011-06-26,2011-06-21,5,True,SO43754,None,10-4030-027617,...,9734.0,630188Vi50171,NaN,3578.2700,286.2616,89.4568,3953.9884,None,86B0C2B9-6ABD-4B69-9C76-2B702B604D77,2011-06-21
96,43755,8,2011-06-14,2011-06-26,2011-06-21,5,True,SO43755,None,10-4030-027670,...,14614.0,1030205Vi75785,NaN,3578.2700,286.2616,89.4568,3953.9884,None,98337979-2598-4E10-8666-4823D1EB0564,2011-06-21
97,43756,8,2011-06-14,2011-06-26,2011-06-21,5,True,SO43756,None,10-4030-019941,...,9528.0,830399Vi49119,191.0,699.0982,55.9279,17.4775,772.5036,None,6D3EE374-D017-4007-9BA3-8966F2B3CD00,2011-06-21
98,43757,8,2011-06-14,2011-06-26,2011-06-21,5,True,SO43757,None,10-4030-011017,...,12801.0,635102Vi66203,184.0,3374.9900,269.9992,84.3748,3729.3640,None,238FD676-5C9C-44A6-8C10-F890887887B6,2011-06-21
99,43758,8,2011-06-15,2011-06-27,2011-06-22,5,True,SO43758,None,10-4030-027646,...,17093.0,1230195Vi88773,NaN,3578.2700,286.2616,89.4568,3953.9884,None,C54AB7FA-B136-4954-9E52-ED8283E91460,2011-06-22